@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap');
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Istok Web";
  line-height: var(--line-height);
  color: var(--primary-color);
}

#__next {
  height: 100%;
}

form {
  display: contents;
}

.no-scroll{
  overflow-y: hidden;
  overflow-x: hidden;
}

:root {
  --white: #fff;
  --black: #000;
  --light-white: #f9fafa;
  --footer-background: #f5f5f5;
  --secondary-background: #f5f5f5;
  --light-black: rgba(0, 0, 0, 0.65);
  --primary-color: #293C10;
  --secondary-color: #f89b3d;
  --secondary-dark-font-color: #825600;
  --secondary-light-font-color: rgba(146, 0, 66, 0.14);
  --border-color: #20716a;
  --button-primary-color: #597c75;
  --button-secondary-color: #fff;
  --input-background-color: rgb(255, 255, 255);
  --popup-background-color: #5d5d5d;
  --red: #ff0004;
  --orange: #ff9052;
  --gray: #595959;
  --dark-gray: rgba(0, 0, 0, 0.4);
  --light-gray: #e8e8e8;
  --green: #059805;
  --dark-green: #597c75;
  --footer-gray: #ebebeb;
  --white: #fff;
  --black: #000;
  --light-white: #f9fafa;
  --footer-background: #f5f5f5;
  --secondary-background: #f5f5f5;
  --light-black: rgba(0, 0, 0, 0.65);

  --secondary-color: #f89b3d;
  --secondary-dark-font-color: #825600;
  --secondary-light-font-color: rgba(146, 0, 66, 0.14);
  --border-color: #20716a;
  --button-color: #20716a;
  --button-secondary-color: #fff;
  --red: #ff0004;
  --orange: #ff9052;
  --gray: #595959;
  --light-gray: #d5d5d5;
  --green: #059805;
  --light-green: #19a036;
  --footer-gray: #ebebeb;
  --light-orange:#E99B05;
  --menu-title:rgba(0, 0, 0, 0.4);
  
  --xsmall: 14px;
  --small: 16px;
  --medium: 20px;
  --large: 32px;
  --xlarge: 56px;
 

  --line-height: 120%; 

}

h1{
  font-size: var(--xlarge);
  font-weight: 700;
  line-height: var(--line-height);
  
}

h2{
  font-size: var(--large);
  font-weight: 700;
  line-height: var(--line-height);
}

h3{
  font-size: var(--medium);
  font-weight: 700;
  line-height: var(--line-height);
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit to two lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

h4{
  font-size: var(--small);
  font-weight: 700;
  line-height: var(--line-height);
}

p{
  font-size: var(--small);
  line-height: var(--line-height);
}

p .xs{
  font-size: var(--xsmall);
  line-height: var(--line-height);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.full-size{
  height: 100%;
  width: 100%;
}


@media screen and (max-width: 540px) {
  :root {
    --xsmall: 14px;
    --small: 16px;
    --medium: 20px;
    --large: 32px;
    --xlarge: 56px;
 

    --line-height: 120%; 
  }
}